

{% extends "index.html" %}
{% block title %} friend delete {% endblock %}

{% block content %}

    <section class="container">
        <h2 class="display-6"><small>friends delete <sub>delete</sub></small></h2>
        <form class="card m-2" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="my-2">
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'friendship_view_users' %}">cancellation and refund</a>
                </div>
                <div class="my-2">
                    <button class="btn btn-sm btn-outline-danger" type="submit">delete</button>
                </div>
            </div>
        </form>
    </section>

{% endblock content %}
