

{% extends "index.html" %}
{% block title %} viewing a user's friends {% endblock %}

{% block content %}

    <section class="container">
        <h2 class="display-6"><small>viewing a user's friends <sub>user_list</sub></small></h2>

        <ul class="list-inline my-4">
            {% for item in friends_nickname %}
                <li class="list-inline-item">
                    <span>{{ item.nickname }}</span>
                    <a class="brn btn-sm btn-outline-danger mx-2" href="{% url 'friend_delete' item.id %}">delete</a>
                </li>
                    {% empty %}
                    <p>no requests</p>
            {% endfor %}
        </ul>

    </section>

{% endblock %}