
{% extends 'index.html' %}
{% block title %} change password {% endblock title %}

{% block content %}

    <section class="container">
        <h2 class="display-6"><small>change password</small></h2>
        <div class="card m-2">
            <form class="card-body" method="post">
                {% csrf_token %}

                    <ul class="list-group my-2">
                        <li>{{ form.old_password.errors }}</li>
                        <li class="my-1">{{ form.old_password.label_tag }}</li>
                        <li class="list-group-item">{{ form.old_password }}</li>
                    </ul>
                    <ul class="list-group my-1">
                        <li>{{ form.new_password1.errors }}</li>
                        <li class="my-1">{{ form.new_password1.label_tag }}</li>
                        <li class="list-group-item">{{ form.new_password1 }}</li>
                    </ul>
                    <ul class="list-group my-1">
                        <li>{{ form.new_password2.errors }}</li>
                        <li class="my-2">{{ form.new_password2.label_tag }}</li>
                        <li class="list-group-item">{{ form.new_password2 }}</li>
                    </ul>
                <a class="btn btn-outline-primary btn-sm" href="/">back</a>
                <button class="btn btn-outline-primary btn-sm" type="submit">submit</button>
            </form>
        </div>

{% endblock content %}