

{% extends 'accounts/base.html' %}
{% block title %} resset password {% endblock %}

{% block content %}

    <section class="container">
        <h2 class="display-6"><small>Enter new password</small></h2>
        <div class="card m-4">
            <form class="card-body" method="POST">
                {% csrf_token %}
                <ul class="list-group">
                    {{ form.as_ul }}
                </ul>
                <li class="list-group-item">
                    <input class="btn btn-outline-primary btn-sm" type="submit" name="submit" id="submit" value="submit"/>
                </li>
            </form>
        </div>
    </section>

{% endblock content %}